:root {
  --background-color: #191817;
  --red: #da582d;
  --green: #169616;
  --blue: #068383;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.square {
  margin-right: 18px;
  height: 36px;
  width: 36px;
  animation: rotate infinite 1.5s;
}

.bg-red {
  background: var(--red);
}

.bg-green {
  background: var(--green);
}

.bg-blue {
  background: var(--blue);
}

@keyframes rotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(45deg);
  }
}
